*{
  padding: 0;
  margin: 0;
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
}

.flex-container{
  display:flex;
  height: 100vh;
}
.flex-container aside{
  background-color:#222e35 ;
  flex: 0 0 350px;
  border-right: 1px solid #ffffff26;
  /* El overflow es la propiedad que te permite controlar el comportamiento cuando el contenido es más grande que el contenedor */
  overflow-y: auto;
}
.flex-container section{
  background-color:#2a3942;
  /* en flex el 1 es flex-grow  0 es flex-shrink auto flex-basis*/
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}
.avatar{
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
.chat-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a3942;
}
.chat-header__user{
  display:flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
button{
  background-color: transparent;
  border: none;
}
.actions{
  width: 50px;
  font-size: 20px;
  height: 50px;
}
.actions:hover{
  background-color: #34414a;
  border-radius: 50%;
}
.button-chat{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.button-chat button{
  border-radius: 3px;
  background-color: #00a884;
  padding: 10px 24px;
}
.chat-element{
  padding: 15px;
  display: flex;
  align-items: center;
  gap:10px;
  border-bottom: 1px solid #ffffff26;
}
.chat-element:first-child{
  border-top: 1px solid #ffffff26;
}
.chat-element:hover{
  background-color: #394b55;
}
.message{
  font-size: 12px;
  color: #8696a0;
  padding-top:10px;
}
.chat-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  gap:10px;
}